@{
    ViewBag.Title = "Upload Transcripts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="panel panel-primary" style="border-color:#24221f;">
            <!-- Default panel contents -->
            <div class="panel-heading;"  style="background-color:#24221f; color:whitesmoke;" >General</div>

            <div class="panel-body">
                <label>Program Name:</label><input size="200" id="Program_Name;" placeholder="Computer Science (Embedded Systems)" type="text" /><br>
                <label>Student ID:</label><input size="7" id="Student_ID;" placeholder="072 421" type="text" /><br>
                <label>Student Name:</label><input size="15" id="Student_Name;" placeholder="Stan Stanley" type="text" /><br>
                <label>Qualification Type:</label><input size="4" id="Qualification_Type;" placeholder="Msc/Bsc" type="text" /><br>
                <label>Result:</label><input size="2" id="Results;" placeholder="82%" type="text" /><br>
            </div>

         </div>


            <!-- This needs to be created repeatedly somehow dynamically -->
        <div id="div">
            <button onclick="AddModule()" value="AddModule">Add Year</button>
            <button onclick="AddModule()" value="AddModule">Add Module</button>
        </div>
        </div>
</body>
</html>
<script>
    var x = 1
    function AddModule()
    {
        var d = document.getElementById('div');
        d.innerHTML += "<input type='text' id='tst" + x++ + "'><br >";
    }
</script>