@{
    ViewBag.Title = "Upload Transcript";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <div class="col-md-4">
            @Html.ActionLink("Enter details manually", "ManualUpload", "Home")
        </div>

        <div class="col-md-4">
            Upload PDF
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</body>
</html>
